.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #2ecc71;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    box-shadow: 0 0 12px #2ecc71;
}

.blockSearch {
    flex: 1.3;
    display: flex;
    justify-content: flex-end;
}

.inputSearchPanel {
    width: 200px;
    border-radius: 40px;
    outline: none;
}

.inputSearchPanel:active {
    outline: none;
}
.inputSearchPanel:focus {
    outline: none;
}

.mainNavLinks {
    flex: 5; 
    display: flex;
    justify-content: right;
}

.authNavLinks {
    flex: 1.3;
    display: flex;
    justify-content: center;
}


.secondaryAuthNavLinks {
    display: none;
}

.navLink {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    line-height: 1;
    text-decoration: none;
    border-radius: 40px;
    transition: .2s;
    text-align: center;
}

.navLink:hover {
    box-shadow: 0 0 0 1px #fff;
}

@media screen and (max-width: 774px) {
    .inputSearchPanel {
        height: 30px;
        margin-top: 7px;
    }
    .navbar {
        height: 90px;
        flex-direction: column-reverse;
    }
    .authNavLinks {
        display: none;
    }
    .navLink {
        height: 25px;
        margin-top: 10px;
    }
    .secondaryAuthNavLinks{
        flex: 1.3;
        display: flex;
        justify-content: center;
    }
}